body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

nav a {
    margin: 10px;
    padding: 10px;
    background: #333;
    color: white;
    text-decoration: none;
}

form {
    margin-top: 20px;
}